<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-title>Categories</mat-card-title>
    <mat-card-subtitle>Listing all categories</mat-card-subtitle>
    <app-loading-bar [visible]="showLoading"></app-loading-bar>
    <category-form *ngIf="showForm" (back)="onBackForm()" (save)="onSave($event)" [category]="category" [loading]="showLoading"></category-form>
    <mat-card-content *ngIf="!showForm&&!showLoading">

      <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements" fxHide.xs>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <th mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEditCategory(row)">
              <mat-icon color="secundary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="showConfirmDelete(row)">
              <mat-icon color="primary">delete</mat-icon>
            </button>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div fxShow.xs>
        <mat-action-list>
            <mat-list-item *ngFor="let item of dataSource.data" (click)="onEditCategory(item)">
              <h3 matListItemTitle>{{item.name}}</h3>
              <p matListItemLine>
                <span>{{item.description}}</span>
              </p>
            </mat-list-item>
        </mat-action-list>
      </div>
      <mat-paginator #paginator
                     [length]="dataSource?.data?.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     aria-label="Select page">
      </mat-paginator>
      <mat-card-actions>
        <button mat-button (click)="onNewCategoryClick()">Nueva Categoria</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

</div>
